{
  "cluster": "${CLUSTER_NAME}",
  "serviceName": "${SERVICE_NAME}",
  "taskDefinition": "simple-python-api",
  "desiredCount": 1,
  "launchType": "FARGATE",

  "networkConfiguration": {
    "awsvpcConfiguration": {
      "subnets": [
        "${SUBNET1}",
        "${SUBNET2}"
      ],
      "securityGroups": [
        "${SECURITY_GROUP}"
      ],
      "assignPublicIp": "ENABLED"
    }
  }
}
